* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    display: none !important;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    border: 1px solid grey;
    width: 50%;
    padding: 10px;
}

.col25 {
    width: 25%;
}

.col75 {
    width: 75%;
}

#usersList,
.stack
{
    display: flex;
    flex-direction: column;
}
#userList > span{
    color:gray;
    font-size: 0.75rem;
}

#chatcontainer > div{
    background-color: #b9d2f8;
    border-radius: 3px;
    padding:5px;
    margin:2px;
}

#chatcontainer > div:nth-of-type(odd){
    background-color: rgb(140, 249, 169);
}

#chatcontainer > div.leftChat{
    background-color: red;
    color: #efefef;
}

.main{display: flex;flex-direction: row; margin: 0 auto 0 auto;min-width: 1204px; width: 1204px;}
#leave{width: 1204px;margin: 20px auto; display: flex; flex-direction: row-reverse; justify-content: center;}
#waiting{font-size: 30px;width: 1204px;margin: 20px auto; display: flex; flex-direction: row-reverse; justify-content: center;}
#race{width: 1204px;margin: 20px auto; display: flex; flex-direction: row-reverse; justify-content: center;}
#result{font-size: 30px;width: 1204px;margin: 20px auto; display: flex; flex-direction: row-reverse; justify-content: center;}
.raceTrack {width: 1004px;}
.logger {width: 200px; border: solid black 1px;}
.line {display: flex;flex-direction: row;justify-content: space-between; border: solid black 1px;}
.p_name {min-width: 100px; width: 100px; background-color: grey;color: white;}
.p_title{margin: 5px;margin-top: 1em; font-weight: bold;}
.p_nick {margin: 0 5px;}
.p_line {min-width: 800px; width: 800px; display: inline-block; background-color: chocolate;}
.p_goal {min-width: 100px; width: 100px; background-image: url("/img/finish.png");background-repeat: no-repeat;background-size: cover;}
.turtle {width: 80px; height: 80px;background-image: url("/img/turtle.png");background-repeat: no-repeat;background-size: cover;}
.t_pos_1{margin-left: 0px;}
.t_pos_2{margin-left: 80px;}
.t_pos_3{margin-left: 160px;}
.t_pos_4{margin-left: 240px;}
.t_pos_5{margin-left: 320px;}
.t_pos_6{margin-left: 400px;}
.t_pos_7{margin-left: 480px;}
.t_pos_8{margin-left: 560px;}
.t_pos_9{margin-left: 640px;}
.t_pos_10{margin-left: 720px;}
#operation{margin: auto 30px; font-weight: bold;font-size: 40px; padding: 0px;}
#txtChat{width: 60px; margin-right: 30px;font-size: 30px;}
#btnSend {font-size: 2em;background-color: green; color: white; padding: 5px;}
#chatcontainer{max-height: 500px;overflow: auto;}


#player {width:500px; margin: 5em auto; font-size: 2em;}
#frm {display: flex;flex-direction: column; text-align: center;}
#frm input {width: 300; margin: 1em auto 0 auto; font-size: 1em;} 
#frm button {width: 200; margin: 1em auto; font-size: 1em;background-color: green; color: white;} 
#btnStart {width: 200; margin: 1em auto; font-size: 1em;background-color: green; color: white;} 
#btnRestart {width: 200; margin: 1em auto; font-size: 1em;background-color: green; color: white;} 
#btnLeave {font-size: 2em;background-color: green; color: white;}


@media only screen and (max-width: 1000px) {
    .main{min-width: 904px; width: 904px;}
    #leave{width: 904px;}
    #waiting{font-size: 30px;width: 904px;}
    #race{width: 904px;margin: 20px auto;}
    #result{font-size: 30px;width: 904px;margin: 20px auto;}
    .raceTrack {width: 704px;}
    .p_line {min-width: 500px; width: 500px;}
    .turtle {width: 50px; height: 50px;}
    .t_pos_1{margin-left: 0px;}
    .t_pos_2{margin-left: 50px;}
    .t_pos_3{margin-left: 100px;}
    .t_pos_4{margin-left: 150px;}
    .t_pos_5{margin-left: 200px;}
    .t_pos_6{margin-left: 250px;}
    .t_pos_7{margin-left: 300px;}
    .t_pos_8{margin-left: 350px;}
    .t_pos_9{margin-left: 400px;}
    .t_pos_10{margin-left: 450px;}
    #chatcontainer{max-height: 300px;overflow: auto;}
  }